body{
    background: url("../images/crystal.jpg");
    text-align: center; 
} 
h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}
h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    font-size: 18px; 
}
.total{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 50px;
}
#container{
    background: #f5c542; 
    border-radius: 60px / 60px;
}

.box{
    width: 250px; 
    height: 150px; 
    background: #f56c42; 
    border: dotted; 
    font-size: 100px;
}

.box2{
    width: 250px; 
    height: 150px; 
    background: #34ebb1; 
    font-size: 100px;
}